<h1>All Astronauts </h1>

<% @astronauts.each do |astronaut| %>
  <p><%= astronaut.name %></p>
  <p><%= astronaut.age %></p>
  <p><%= astronaut.job %></p>
<% end %>

<p> Average age: <%= @average_age %></p> 
